# Python backend ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.python-version
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.pytest_cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pyre/
.mypy_cache/
.dmypy.json
.pytype/
cython_debug/
instance/
.webassets-cache
*.sqlite3
*.db
*.db-journal
.env
.env.*
